<div class="container" style="margin-top: 100px">
    <div class="row">
        <div class="btn-group special" role="group" style="margin-bottom: 30px">
            <button type=" button " class="btn btn-outline-warning btn-lg" (click)=searchBySeason(1)> Season 1 </button>
            <button type="button " class="btn btn-outline-warning btn-lg " (click)=searchBySeason(2)> Season 2 </button>
            <button type="button " class="btn btn-outline-warning btn-lg " (click)=searchBySeason(3)> Season 3 </button>
            <button type="button " class="btn btn-outline-warning btn-lg " (click)=searchBySeason(4)> Season 4 </button>
            <button type="button " class="btn btn-outline-warning btn-lg " (click)=searchBySeason(5)> Season 5 </button>
            <button type="button " class="btn btn-outline-warning btn-lg " (click)=searchBySeason(6)> Season 6 </button>
            <button type="button " class="btn btn-outline-warning btn-lg " (click)=searchBySeason(7)> Season 7 </button>
            <button type="button " class="btn btn-outline-warning btn-lg " (click)=searchBySeason(8)> Season 8 </button>
            <button type="button " class="btn btn-outline-warning btn-lg " (click)=searchBySeason(9)> Season 9 </button>
            <button type="button " class="btn btn-outline-warning btn-lg " (click)=searchBySeason(10)> Season 10 </button>
        </div>
        <div *ngFor="let episode of webService.season_list | async ">
            <div class="container text-warning text-center" [routerLink]="[ '/episodes', episode._id] " style="cursor: pointer ">
                <img src={{episode.image}}> <br> {{episode.season}} x {{episode.number}}
            </div>
        </div>
    </div>
</div>